{:duct.core/project-ns  front.web
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/sql {}
 :duct.module/cljs {:main front.web.client}

 :duct.module/ataraxy
 {[:get "/"] [:roots/index]}

 :front.web.component/secrets {:github {:id #duct/env ["GITHUB_ID"]
                                        :secret #duct/env ["GITHUB_SECRET"]}}

 :front.web.handler.roots/index {:secrets #ig/ref :front.web.component/secrets}}
