{:duct.core/project-ns  front.web
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/sql {}
 :duct.module/cljs {:main front.web.client}

 ;; custom components
 :front.web.component/secrets {:github {:client-id #duct/env ["GITHUB_ID"]
                                        :client-secret #duct/env ["GITHUB_SECRET"]}}
 :front.web.component/github {:secrets #ig/ref :front.web.component/secrets}

 ;; routing
 :duct.module/ataraxy
 {[:get "/"] [:roots/index]
  "/callback"
  {[:get "/github"] [:callbacks/github]}}
 ;; handlers
 :front.web.handler.roots/index {:secrets #ig/ref :front.web.component/secrets
                                 :github #ig/ref :front.web.component/github}
 :front.web.handler.callbacks/github {:github #ig/ref :front.web.component/github
                                      :db #ig/ref :duct.database/sql}

 ;; migrations
 :duct.migrator/ragtime
 {:migrations [#ig/ref :front.web.migration/accounts
               #ig/ref :front.web.migration/access-token-types
               #ig/ref :front.web.migration/account-access-tokens]}
 [:duct.migrator.ragtime/sql :front.web.migration/accounts]
 {:up [#duct/resource "front/web/migration/accounts.up.sql"]
  :down [#duct/resource "front/web/migration/accounts.down.sql"]}
 [:duct.migrator.ragtime/sql :front.web.migration/access-token-types]
 {:up [#duct/resource "front/web/migration/access-token-types.up.sql"]
  :down [#duct/resource "front/web/migration/access-token-types.down.sql"]}
 [:duct.migrator.ragtime/sql :front.web.migration/account-access-tokens]
 {:up [#duct/resource "front/web/migration/account-access-tokens.up.sql"]
  :down [#duct/resource "front/web/migration/account-access-tokens.down.sql"]}}
