{:duct.core/project-ns  front.api
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.server.http/jetty {:port 3001}
 :front.api.component/elasticsearch {:host #duct/env ["ELASTICSEARCH_HOST"]
                                     :port #duct/env ["ELASTICSEARCH_PORT"]}

 ;; routing
 :duct.module/ataraxy
 {["/accounts/" account-id "/logs"]
  {[:post ""] [:logs/create account-id]}}
 ;; handlers
 :front.api.handler.logs/create {:elasticsearch #ig/ref :front.api.component/elasticsearch}}
